<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My First Mobile App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <div class="ion-padding">
    <h1>Welcome!</h1>
    

    <ion-card>
      <ion-card-header>
        <ion-card-title>Student Profile</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>Name: Maggie Cahill</p>
        <p>Programme: Computing & Digital Media</p>
        <p>Year: 4</p>
      </ion-card-content>
      
    </ion-card>

    <img src="https://th.bing.com/th/id/OIP.VdDc3iT3PCrJnnsiThNzGgHaF_?w=204&h=180&c=7&r=0&o=7&pid=1.7&rm=3" alt="Sunflower">


    <br>

    <h2>My Interests</h2>

    <ion-list>
      <ion-item>Photography <ion-icon name="camera-outline" slot="end"></ion-icon></ion-item>
      <ion-item>Gaming <ion-icon name="game-controller-outline" slot="end"></ion-icon></ion-item>
      <ion-item>American Football <ion-icon name="american-football-outline" slot="end"></ion-icon></ion-item>
    </ion-list>

    

    <p>This is my first Ionic mobile application!</p>

    <ion-toggle class="ion-padding">Auto Save</ion-toggle><br /><br />

    <ion-button expand="block" shape="round" fill="outline">
      Click Me
    </ion-button>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block">Profile</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block">Contact</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

    


  </div>
</ion-content>
